*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    align-items: center;
}
.body{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    position: relative;
}
.title{
    display: flex;
    justify-content: center;
}
.title img{
    width: 50%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 400px;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 35vh;
}
.login legend {
    align-self: center;
}
.login input{
    background-color: rgb(238, 229, 229);
    border-color: transparent;
    width: 90%;
    height: 40px;
}
.login input:hover{
    border: 1px solid gray;
    border-radius: 5px;
}
input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
    border-color: red;
    border-radius: 5px;
}
.social-media{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.social-media li{
    list-style: none;
    width: 50%;    
}
.social-media a{
    width: 60%;
    display: flex;
    justify-content: center;
}
.social-media a:hover{
    border: 2px solid brown;
}
.social-media img{
    width: 30%;
}
.facebook{
    background-color: blue;
}
.google{
    background-color: red;
}
.apple{
    background-color: black;
}

.manter-login{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}
.manter-login:hover{
    text-decoration: underline;
}
.manter-login input{
    width: 1vw;
}
.manter-login label{
    font-weight: bold;
}
button{
    text-align: center;
    align-self: center;
    background-color: #FF002E36;
    border-style: hidden;
    border-radius: 5px;
    width: 2vw;
    height: 4vh;
}
button img{
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
}
.sessao{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sessao p{
    font-weight: bold;
    cursor: pointer;
    padding-top: 0.5vh;
    opacity: 0.5;
}
.sessao p:hover{
    text-decoration: underline;
}
.img-lol{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ativo{
    background-color: red;
    cursor: pointer;
}

@media(max-width: 1080px){
    body{
        background-image: url("img/img-background.png");
        background-position: center;
        height: 100vh;
        background-repeat: no-repeat;
    }
    .card{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 25%);
        background-color: white;
        opacity: 0.9;
        width: 30vw;
    }
    .img-lol{
        display: none;
    }
}
@media(max-width: 813px){
    .card{
        width: 50vw;
    }
}
@media(max-width: 533px){
    .card{
        width: 65vw;
    }
}
@media(max-width: 410px){
    .card{
        width: 75vw;
    }
}